a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: "Poppins", sans-serif;
    color: #22343d;
    background: #fff;
}

section {
    padding-top: ;
    margin-bottom: 100px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
}

.mob-menu.is-open,
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.container {
    width: 100%;
    max-width: 410px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
}

.logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
    display: flex;
    align-items: center;
    gap: 4px;
    padding-top: 17px;
    padding-right: 27px;
    padding-bottom:17px;
    padding-left: px 32px;
    margin-right: 150px;
}

@media screen (min-widht: 1150px) {
    container {
        width: 1150px;
        margin: 0 auto;
        padding-right: 20px;
        padding-left: 20px;
    }
    .logo {
        gap: 16px;

    }
}


.subtitle {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
}

.heading {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
}

.headline {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.63;
    color: #22343d;
}

.slogan {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #22343d;
}

/* HEADER */

.header {
   background-color: #fff;
    box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 29px;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
}

.header-wrap {
    display: flex;
}


.header-nav-list,
.header-btn-list {
    display: none;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: currentColor;
}

@media  scren (min-width^1150px) {
    max-width: 1158px;
    .burger-btn {
        display: none;
    }

    .header-nav {
        margin-right: 73px;
    
    }
          
    .header-nav-list {
        display: flex;
        gap: 30px;
    }
          
    .header-nav-link {
        line-height: 1.75;
        color: #22343d;
        display: block;
        padding: 26px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-link:hover,
    .header-nav-link:focus {
        color: #355b7a;
    }

    .current {
        font-weight: 600;
    }
    
    .header-btn-list {
        display: flex;
        gap: 21px;
    }

    .header-btn {
        font-family: inherit;
        ont-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #173a56;
        border: 1px solid #bcd0e5;
        border-radius: 4px;
        min-width: 105px;
        height: 42px;
        background-color:transparent;
        transition:background-color 250mscubic-bezier(0.4, 0, 0.2,1);
    }
    
    .header-btn:hover,
    .header-btn:focus {
        color: #fff;
        background-color: #02897a;
        border-color: transparent;
    }
}>

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.mob-menu.mob-menu.is-open {
    transform: translateY(0);
    transition: transform 300ms ease,
    opacity 300ms ease,
    visibility 300ms ease;
}

.mob-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-close-btn {
    position: absolute;
    top: 24;
    right: 24px;
    display: block;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

}
.menu-close-icon {
}
.mob-nav {
}
.mob-menu-list {
}
.mob-menu-item {
}
.mob-menu-nav-link {
}
.mob-menu-item {
}
.mob-menu-link {
}
.mob-btn-list {
}
.mob-btn-item {
}
.mob-btn {
}